__pycache__
pregen/__pycache__
.idea
.ruff_cache
SAT_MINE
BISHOP_ATTACKS.npy
BISHOP_MAGICS.npy
BISHOP_MASK.npy
BISHOP_RELEVENT_BITS.npy
BISHOP_SHIFTS.npy
KING_ATTACKS.npy
KNIGHT_ATTACKS.npy
PAWN_ATTACKS.npy
ROOK_ATTACKS.npy
ROOK_MAGICS.npy
ROOK_MASK.npy
ROOK_RELEVENT_BITS.npy
ROOK_SHIFTS.npy
tempCodeRunnerFile.py
Zobrist
TranspositionTable.py
TranspositionTests.py